/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*css reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height:1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse:collapse;border-spacing: 0;}

html,body{max-width:750px;min-width:319px;margin:0 auto;font-family:"黑体";position:relative;}
img{width:100%;height:100%;display:block;}
a{text-decoration:none;}
input,button,select{outline:none;border:none;}

/*clearfix*/
.clearfix:before, .clearfix:after {content:"";display:table;}
.clearfix:after{clear:both;overflow:hidden;}
.clearfix{*zoom:1;}

/*header*/
.header{width:100%;height:1.3733rem;background:#fff;text-align:center;position:fixed;top:0;left:0;z-index:50;border:1px solid #e1e1e1;}
.header .home{display:block;width:.6266rem;height:.5066rem;float:left;margin:.44rem 0 0 .2533rem;}
.header .logo{display:inline-block;
    /*width:2.9733rem;margin-top:.32rem;*/
    width:3.2733rem;margin-top:.22rem;
}
.header .nav_icon{width:.5733rem;height:.4rem;float:right;margin:.5066rem .24rem 0 0;}

/**/
.swiper-pagination-bullet{background:#323232;opacity:1;width:.16rem;height:.16rem;margin:0 .0933rem !important;}
.swiper-pagination-bullet-active{background:#f6ca32;}

/*导航*/
.navigation{width:100%;height:100%;position:fixed;background:rgba(29,29,29,.5);z-index:30;
top:0;display:none;left:0;/*left:100%;*/}
.navigation .nav_content{margin-top:1.3733rem;width:100%;height:5rem;background:#fff;}
.navigation .nav_content .list{width:100%;display:table;border-top:2px solid #e5e5e5;}
.navigation .nav_content .list .item{width:25%;float:left;text-align:center;/*margin-top:.72rem;*/margin-top:.52rem;}
.navigation .nav_content .list .item .img{display:inline-block;
    /*width:.64rem;height:.64rem;*/width:.94rem;height:.94rem;
}
.navigation .nav_content .list .item h3{width:100%;color:#757575;
    /*height:.52rem;line-height:.52rem;font-size:.1866rem;*/
    height:.72rem;line-height:.72rem;font-size:.2866rem;
}

/*户型弹窗*/
.alert_type{width:100%;height:100%;position:fixed;background:rgba(29,29,29,.5);z-index:10;top:0;left:0;display:none;}
.alert_type .houseType_wrapper{width:93.3333%;height:8.1333rem;position:absolute;
top:0;right:0;bottom:0;left:0;margin:auto;background:#fff;z-index:15;}
.alert_type .houseType_wrapper h3{width:54%;height:.6133rem;line-height:.6133rem;margin:.6933rem auto 0;color:#5b5b5b;text-align:center;
position:relative;font-size:.5333rem;}
.alert_type .houseType_wrapper h3:before{content:"";width:1.4rem;height:.0533rem;top:.3066rem;left:-1.4rem;position:absolute;z-index:2;background:#e8e8e8;}
.alert_type .houseType_wrapper h3:after{
    content:"";width:1.4rem;height:.0533rem;top:.3066rem;right:-1.4rem;position:absolute;z-index:2;background:#e8e8e8;}

.alert_type .houseType_wrapper .houseType_content{width:100%;height:5.5866rem;
    box-sizing:border-box;padding:.4133rem 0 .52rem 0;
    display:flex;justify-content:space-around;align-items:center;}

.alert_type .houseType_wrapper ul{height:100%;/*float:left;*/display:flex;flex-direction:column;justify-content:space-around;}
.alert_type .houseType_wrapper ul li{font-size:.3466rem;width:1.52rem;height:.7066rem;line-height:.7066rem;text-align:center;
background:#f4f4f4;color:#7f7f7f;border-radius:.0666rem;}
.alert_type .houseType_wrapper ul li.active{background:#f6ca32;color:#fff;}
.alert_type .houseType_wrapper .type_btn{width:100%;height:1.1866rem;line-height:1.1866rem;color:#f6ca32;
    text-align:center;border-top:.04rem solid #e7e7e7;font-size:.4266rem;}/*户型弹窗*/
.alert_type{width:100%;height:100%;position:fixed;background:rgba(29,29,29,.5);z-index:10;top:0;left:0;display:none;}
.alert_type .houseType_wrapper{width:93.3333%;height:8.1333rem;position:absolute;
top:0;right:0;bottom:0;left:0;margin:auto;background:#fff;z-index:15;}
.alert_type .houseType_wrapper h3{width:54%;height:.6133rem;line-height:.6133rem;margin:.6933rem auto 0;color:#5b5b5b;text-align:center;
position:relative;font-size:.5333rem;}
.alert_type .houseType_wrapper h3:before{content:"";width:1.4rem;height:.0533rem;top:.3066rem;left:-1.4rem;position:absolute;z-index:2;background:#e8e8e8;}
.alert_type .houseType_wrapper h3:after{
    content:"";width:1.4rem;height:.0533rem;top:.3066rem;right:-1.4rem;position:absolute;z-index:2;background:#e8e8e8;}

.alert_type .houseType_wrapper .houseType_content{width:100%;height:5.5866rem;
    box-sizing:border-box;padding:.4133rem 0 .52rem 0;
    display:flex;justify-content:space-around;align-items:center;}

.alert_type .houseType_wrapper ul{height:100%;/*float:left;*/display:flex;flex-direction:column;justify-content:space-around;}
.alert_type .houseType_wrapper ul li{font-size:.3466rem;width:1.52rem;height:.7066rem;line-height:.7066rem;text-align:center;
background:#f4f4f4;color:#7f7f7f;border-radius:.0666rem;}
.alert_type .houseType_wrapper ul li.active{background:#f6ca32;color:#fff;}
.alert_type .houseType_wrapper .type_btn{width:100%;height:1.1866rem;line-height:1.1866rem;color:#f6ca32;
    text-align:center;border-top:.04rem solid #e7e7e7;font-size:.4266rem;}

/*footer*/
.footer{width:100%;margin:0 auto 1.6666rem;}
.footer p{width:100%;text-align:center;color:#646464;height:.32rem;line-height:.32rem;/*padding:.4266rem 0 .28rem 0;*/
    font-size:.26rem;padding-top:.2266rem;}
.footer p:last-child{padding:.1733rem 0 .1733rem 0;}

/*预约装修*/
.order_decoration{width:100%;height:1.6666rem;position:fixed;bottom:0;left:0;z-index:5;
background:url("../images/order_decoration(1).png") no-repeat center;background-size:cover;}
.order_decoration .item{width:50%;height:1.6666rem;float:left;}
.order_decoration .item .img{width:1.6666rem;height:1.6666rem;float:left;}
.order_decoration .item h6{
    width:65.6666%;height:1.6666rem;box-sizing:border-box;
    font-size:.3266rem;color:#fff;line-height:.4666rem;padding:.3466rem 0 0 .1333rem;float:left;/*color:#fff;*/}
.order_decoration .item h6 span{color:#e81e42;}

